{% extends "header.html" %}

{% block title %}menu principal{% endblock %}
{% block content %}
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/informacion.css' %}">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>información</h1> 
        </div>
        <div class="col-sm-12">
            <form action="../informacion/" method="post">
                <div class="row">
                    <div class="col-sm-10 form-group">
                        <label for="email_jamer">Correo:</label>
                        <input type="text" name="email_jamer" id="email_jamer"  class="form-control"  required>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn center-block btn-lg send-information" type="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if id %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Informacion del jammer</h1>
        </div>
        <div class="col-sm-12">
            <h2>Numero de participante: <span class="info">{{id}}</span></h2>
        </div>
        <div class="col-sm-12">
            <h2>Nombre: <span class="info">{{nombre}}</span></h2>
        </div>
        <div class="col-sm-12">
            <h2>Correo: <span class="info">{{correo}}</span></h2>
        </div>
        <div class="col-sm-12">
            <h2>Rol: <span class="info">{{rol}}</span></h2>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}