{% extends "header.html" %}

{% block title %}menu principal{% endblock %}
{% block content %}
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <a href="https://www.facebook.com/GameDevelopmentSinaloa/">
                <img class="banner" src="{% static 'images/banner2020.png' %}">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="color-name">Patrocinadores</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <a href="https://www.facebook.com/GameDevelopmentSinaloa/">
                <img class="img-patrocinio" src="{% static 'images/Logos/LogosGDS2.png' %}">
            </a>
        </div>
        <div class="col-sm-2">
            <a href="https://www.facebook.com/SonarXSin/">
                <img class="img-patrocinio" src="{% static 'images/Logos/versión1-x-positivo.png' %}">
            </a>
        </div>
        <div class="col-sm-2">
            <a href="https://www.facebook.com/E-coworking-Green-Spaces-212610542997340/">
                <img class="img-patrocinio" src="{% static 'images/Logos/cropped-Logo2.png' %}">
            </a>
        </div>
        <div class="col-sm-2">
            <a href="https://www.facebook.com/SonarAC/">
                <img class="img-patrocinio" src="{% static 'images/Logos/versión1-positivo.png' %}">
            </a>
        </div>
        <div class="col-sm-2">
            <a href="https://www.facebook.com/pixelstuffs/">
                <img class="banner" src="{% static 'images/Logos/Pixel Stuffs.jpg' %}">
            </a>
        </div>
        <div class="col-sm-2">
            <a href="https://www.facebook.com/demontrailofficial/">
                <img class="img-patrocinio" src="{% static 'images/Logos/logo1_demon_fondo.png' %}">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <a href="https://www.facebook.com/MicroLabStudios/">
                <img class="img-patrocinio" src="{% static 'images/Logos/Logo MicroLab Studios (1).png' %}">
            </a>
        </div>
        <div class="col-sm-2">
            <a href="">
                <img class="img-patrocinio" src="{% static 'images/Logos/TEFACTURO .png' %}">
            </a>
        </div>
        <div class="col-sm-2">
            <a href="https://www.facebook.com/enrutate/?ref=br_rs">
                <img class="img-patrocinio" src="{% static 'images/Logos/enrutate.png' %}">
            </a>
        </div>
        <div class="col-sm-2">
            <a href="https://www.facebook.com/AlcanzaConsultants/">
                <img class="img-patrocinio" src="{% static 'images/Logos/LOGO ALCANZA.png' %}">
            </a>
        </div>
        <div class="col-sm-2">
            <a href="https://www.facebook.com/MasComputersTienda/">
                <img class="img-patrocinio" src="{% static 'images/Logos/COMPUTERS.png' %}">
            </a>
        </div>
        <div class="col-sm-2">
            <a href="https://www.facebook.com/DopamineBoxStudio/">
                <img class="img-patrocinio" src="{% static 'images/Logos/DOPAMINEBOX.png' %}">
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-2">
            <a href="">
                <img class="img-patrocinio" src="{% static 'images/Logos/marnegro.png' %}">
            </a>
        </div>
        <div class="col-sm-2">
            <a href="https://www.facebook.com/pyroactivemx/">
                <img class="img-patrocinio" src="{% static 'images/Logos/pyroactive.png' %}">
            </a>
        </div>
    </div>
</div>

{% endblock %}