{% extends "header.html" %}

{% block title %}menu principal{% endblock %}
{% block content %}
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
<div class="principal">
    <div class="secondary">
        <a class="btn btn-dark center-block btn-lg menuLinks" href="/registro/">Registrarse</a>
        <a class="btn btn-dark center-block btn-lg menuLinks" href="/asistencia/">Asistencia</a>
        <a class="btn btn-dark center-block btn-lg menuLinks" href="/asistencia/">Recursos</a>
    </div>
</div>
{% endblock %}