{% extends "header.html" %}

{% block title %}registro participante{% endblock %}
{% block content %}
<p>Aqui sera el registro de participantes</p>
<form action="../confirmacion/" method="post">
    <label for="nombres">Nombre(s):</label>
    <input type="text" name="nombres" id="nombres" required>
    <label for="apellidos">Apellidos:</label>
    <input type="text" name="apellidos" id="apellidos" required>
    <label for="telefono">Telefono:</label>
    <input type="tel" name="telefono" id="telefono">
    <label for="email">Email participante:</label>
    <input type="email" name="email_participante" id="email" required>
    <button type="submit">Registrarse</button>
</form>
{% endblock %}