{% extends "header.html" %}

{% block title %}Registro de usuarios{% endblock %}
{% block content %}
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Registro de usuarios</h1> 
        </div>
        <div class="col-sm-12">
            <form action="../confirmacion/" method="post">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="nombres">Nombre(s):</label>
                        <input type="text" name="nombres" id="nombres" class="form-control" required>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label for="apellidos">Apellidos:</label>
                        <input type="text" name="apellidos" id="apellidos" class="form-control" required>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label for="telefono">Telefono:</label>
                        <input type="number" name="telefono" id="telefono" class="form-control">
                    </div>
                    <div class="col-sm-12 form-group">
                        <label for="email">Email:</label>
                        <input type="email" name="email_participante" id="email" class="form-control" required>
                    </div>
                    <div class="col-sm-12 form-group">
                    <label for="roles">Rol:</label>
                        <select class="form-control" id="roles" name="rol">
                            <option value="programador">programador</option>
                            <option value="diseñador">diseñador</option>
                            <option value="tester">tester</option>
                            <option value="narrativa">narrativa</option>
                    </select>
                    </div>
                    <div class="col-sm-12">
                        <button class="btn center-block btn-lg send-information" type="submit">Registrarse</button>
                        <a class="btn btn-secondary center-block btn-lg" href="/">Regresar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}