.send-information{
    color: white;
    font-weight: 600;
    background-color: #D84893;
    border: none;
}

.alert{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}