.participante-number{
    color: #D84893;
    font-size: 1.5in;
}
.confirmacion-container{
    text-align: center;
}
.participante-mensaje{
    color: #42416C;
}
.confirmacion-btn-regresar{
    width: 80%;
    margin-top: 10vh;
}